* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}

body {
  font-family: "Open Sans", sans-serif;
  /* background-color: pink; */
}

/* header {
  background-color: red;
} */

.top-bar {
  font-family: "Open Sans", sans-serif;
  color: #235269;
  font-weight: 300;
  font-size: 12px;
  border-bottom: thin solid #f5f5f5;
}

.top-bar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-us {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.contact-us a {
  padding: 0 0.5rem;
}

.email {
  position: relative;
}

.phone span,
.email span {
  padding-left: 0.5rem;
}

.email::before {
  content: "|";
  position: absolute;
  top: -1px;
  left: -7.5%;
  /* height: 17px;
  width: 1.25px;
  background-color: #f4f4f4; */
  color: #aaa;
}

.social-links {
  display: flex;
}

.social-links a {
  margin: 0;
  padding: 0.5rem 0.75rem;
  border-left: thin solid #f4f4f4;
  transition: color 400ms ease, background 370ms ease;
}

.social-links a:last-child {
  border-right: thin solid #f4f4f4;
}

.facebook:hover {
  background-color: #4267b2;
  color: #fff;
}

.twitter:hover {
  background-color: #1da1f2;
  color: #fff;
}

.linkedin:hover {
  background-color: #2867b2;
  color: #fff;
}

.pinterest:hover {
  background-color: #e60023;
  color: #fff;
}

.skype:hover {
  background-color: #00aff0;
  color: #fff;
}

nav {
  position: sticky;
  top: 0;
}

nav::after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #fff;
  z-index: -10;
  opacity: 0.95;
}

nav .container {
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  justify-content: space-between;
}

.logo {
  padding: 1.2rem 0;
}

.logo a img {
  height: 60px;
}

.nav-elements ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: 0.9rem;
  font-weight: 400;
  color: #444;
}

.nav-elements > ul > li {
  position: relative;
  padding: 1.85rem 0rem;
  margin-left: 0.4rem;
}

.nav-elements ul li a {
  padding: 1.85rem 1rem;
  position: relative;
}

.nav-elements ul li i {
  margin-right: 0.4rem;
}

.nav-elements > ul > li:hover {
  color: #13425c;
}

.nav-elements > ul > li:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0.5px;
  width: 100%;
  background-color: #444;
  /* animation: navHover, 5s, linear, 0.8s, unset, normal, forwards; */
  animation-name: navHover;
  /* animation-duration: 4s; */
  animation-delay: 300ms;
  animation-direction: normal;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

@keyframes navHover {
  100% {
    height: 1.5px;
    background-color: #13425c;
  }
}

.nav-elements > ul > li > ul {
  /* display: none; */
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  font-weight: 300;
  font-size: 0.85rem;
  background-color: #fff;
  width: 170px;
  visibility: hidden;
  opacity: 0;
  z-index: 2;
  box-shadow: 0 3px 6px #0000000e, 0 3px 6px #00000013;
  /* transition: all 1000ms ease-in; */
}

.nav-elements ul li:hover > ul,
.nav-elements ul li ul:hover {
  /* display: flex; */
  visibility: visible;
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.nav-elements > ul > li > .dropdown > li {
  border-bottom: thin solid #f4f4f4;
}

.nav-elements > ul > li > .dropdown > li > a {
  display: block;
  width: 100%;
  padding: 0.8rem;
  /* transform:  translateZ(0); */
  /* backface-visibility: hidden; */
  /* -webkit-font-smoothing: subpixel-antialiased; */
  transition: color 10ms linear, transform 135ms linear;
}

.nav-elements > ul > li > .dropdown > li > a:hover {
  color: #13425c;
  transform: translateX(2%) translateZ(0);
  /* -webkit-font-smoothing: subpixel-antialiased;
  backface-visibility: hidden; */
}

.al {
  height: 570px;
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-position: center center;
}
